.entities-page__page-control {
  padding: 10px;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  text-align: center;
  border-top: 4px solid #333333;
  position: sticky;
  bottom: 0;
}

.entities-page__page-control .rc-pagination {
  display: inline-block;
}

.entities-page__load-more-btn {
  width: 100%;
  cursor: pointer;
  border-radius: 6px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #d9d9d9;
  background-color: #fff;
}

.entities-page__load-more-btn:hover {
  border-color: #2db7f5;
  color: #2db7f5;
}
