.inputLineItemWrapper {
  display: flex;
  width: 70%;
  margin: 0 0 .25em;
}

.input {
  padding: .25em 0;
  margin-right: .25em;
  margin-bottom: 0;
  flex-grow: 14;
}

.addButton {
  width: 100%;
}

.removeButton {
  flex-grow: 1;
}

