.wrapper {
  padding: .5em;
  border-radius: .5em;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 .5em 0;
  margin-bottom: .5em;
}

.label {
  display: inline-block;
  font-size: 0.8rem;
  color: #6c757d;
  padding: .25rem;
  margin-bottom: .5em;
  font-weight: bold;
}
