.wrapper {
  padding: .5em;
  border-radius: .5em;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 .5em 0;
  margin-bottom: .5em;
}

.container {
  margin-bottom: .5rem;
}

.container:last-child {
  margin-bottom: 0;
}

.label {
  display: block;
  font-size: 0.8rem;
  color: #6c757d;
  margin-bottom: .5em;
}
