.container {
  margin-bottom: .5rem;
}

.container:last-child {
  margin-bottom: 0;
}

.label {
  display: inline-block;
  font-size: 0.8rem;
  color: #6c757d;
  margin-bottom: .5em;
}

.labelStrong {
  font-weight: bold;
}

.button {
  margin: 10px 0;
}
