.visualization-page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100%;
  background: #222226;
  color: #ffffff;
}

.visualization-page__link-back,
.visualization-page__fullscreen {
  display: inline-block;
  position: absolute;
  font-size: 20px;
  z-index: 9999;
}

.visualization-page__link-back {
  top: 5px;
  left: 10px;
}

.visualization-page .accordion {
}

.visualization-page .card {
  background-color: #333336;;
}

.visualization-page__prev-link,
.visualization-page__next-link{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  top: 50vh;
  height: 50px;
  width: 50px;
  transform: translate(0, -50%);
}

.visualization-page__prev-link {
  left: 40px;
}

.visualization-page__next-link {
  right: 50px;
}

.visualization-page__fullscreen {
  color: var(--blue);
  background: none;
  border: none;
  padding: 0;
  top: 5px;
  right: 12px;
}

.visualization-page__fullscreen:hover {
  color: #0056b3;
}

.visualization-page__fullscreen:focus {
  outline: none;
}

.visualization-block {
  display: inline-block;
  margin: 20px;
}

.visualization-block__header {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 20px 0px;
  background: #333336;
}

.visualization-block__content {
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px 0;
  background: #333336;
}
