.visualization-page {
  position: relative;
  display: flex;
  flex-flow: column;
  text-align: center;
  min-height: 100%;
  background: #222226;
  color: #ffffff;
}

.visualization-page .carousel {
  flex: 1 1 auto;
  position: relative;
}

.visualization-page .carousel-caption {
  top: 20px;
  bottom: auto;
}

.visualization-page .carousel-indicators {
  top: 80px;
}

.visualization-page .carousel-inner,
.visualization-page .carousel-item {
  min-height: 100vh;
}

.visualization-page .carousel-control-prev,
.visualization-page .carousel-control-next {
  position: fixed;
  height: 100vh;
}

.visualization-page__link-back,
.visualization-page__fullscreen {
  display: inline-block;
  position: absolute;
  font-size: 20px;
  z-index: 9999;
}

.visualization-page__link-back {
  top: 5px;
  left: 10px;
}

.visualization-page__fullscreen {
  color: var(--blue);
  background: none;
  border: none;
  padding: 0;
  top: 5px;
  right: 12px;
}

.visualization-page__fullscreen:hover {
  color: #0056b3;
}

.visualization-page__fullscreen:focus {
  outline: none;
}

.visualization-page__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.visualization-block {
  margin-top: 120px;
  margin-bottom: 20px;
}

.visualization-block__content {
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px 0;
  background: #333336;
}
