.login-page {
  display: flex;
  height: 100%;
}

.login-page__form {
  margin: auto;
}

.login-page__header {
  font-size: 30px;
  text-align: center;
}

.login-page__input {
  margin-bottom: 10px;
  font-size: 20px;
}

.login-page__submit-button {
  display: block;
  font-size: 20px;
  margin: auto;
}
