.wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.image {
  height: 100%;
}

.info {
  font-size: 10px;
  color: gray;
}
