.wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.image {
  height: 100%;
}

.info {
  font-size: 10px;
  color: gray;
}

.spinnerContainer {
  width: 150px;
}

.deleteButton {
  position: absolute;
  right: 0;
  top: 0;
  background: black;
  color: #fff;
  width: 20px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
}
