.container {
  padding: .25rem;
  margin-bottom: .25rem;
}

.label {
  font-size: 0.8rem;
  color: #6c757d;
}

.content {
  font-size: 1.2rem;
  color: #007bff;
}

.contentUndefined {
  color: #dc3545;
}
