.container {
  padding: .25rem;
  margin-bottom: .25rem;
}

.label {
  font-size: 0.8rem;
  color: #6c757d;
  margin-bottom: 0;
}

.content {
  font-size: 1.2rem;
  color: #17a2b8;
}

.contentWithLink {
  color: #007bff;
  cursor: pointer;
}

.contentUndefined {
  color: #dc3545;
}
